:root{
    --font:'Pacifico', cursive;
}

html {
    scroll-behavior: smooth;
}

*{
    background-color: #0a192f;
}

.navbar{
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 117px;
}

.navbar img{
    max-width: 60%;
    max-height: 90%;
    border-radius: 50%;
    margin-left: 24px;
    margin-top: 9px;
}

.navbar img:hover{  
    transform: scale(1.30);
    transition-timing-function: ease;
    transition: 3s;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    display: inline-block;
    margin-right: 40px;
}

nav ul li a{
    padding: 8px;
    text-decoration: none;
    color: #ccd6f6;
}

nav ul li a:hover{
    color: #64ffda;
    
}

nav ul li #resume{
    border-color: #64ffda;
}

.info{
    margin-top: 14%;
    margin-left: 22%;
    width: 567px;
    color: #fff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    text-shadow: 2px 2px rgba(27, 8, 136, 0.411);
}

.info:hover{
    animation: info 3s infinite; 
    cursor: pointer;
}

@keyframes info{
    0%{
        text-shadow: 5px 5px 4px rgba(27, 8, 136, 0.8);
    }
    50%{
        text-shadow: 5px 5px 4px rgba(150, 8, 131, 0.8);    
    }
    100%{
        text-shadow: 5px 5px 4px rgba(27, 8, 136, 0.8);
    }   
}   

.about{
    color: #fff;
    margin-top:30%;
}

.about:hover{
    background-image: url();
}

.about .name{
    display: flex;
    align-items: center;
}

.about .name img{
    width: 3%;
    height: 50%;
    display: flex;
    margin-left: 226px;
}

.about .name p{
    margin-left: 62px;
    font-size: 130%;
    font-family:var(--font);
}

.about .college{
    display: flex;
    margin-top: 80px;
}

.about .college p{
    margin-left: 48px;
    font-size: 130%;
    font-family:var(--font);
}

.about .college img{
    width: 50px;
    height: 54px;
    margin-left: 226px;
}

.about .education{
    display: flex;
    margin-top: 80px;
}

.about .education p{
    margin-left: 48px;
    font-size: 130%;   
    font-family:var(--font);
}

.about .education img{
    width: 47px;
    height: 47px;
    margin-left: 226px;
}

.about .name img:hover, .about .college img:hover , .about .education img:hover{
    transform: scale(1.15);
    transition: 300ms;
}

.about #pinfo{
    margin-top: 15%;
    margin-right: 50%;
    margin-left: 15%;
    font-size: larger;
    font-family: var(--font);
}

.skills{
    margin-right: 51%;
    margin-left: 15%;
    margin-top: 25%;
}

.skills h1{
    color: #fff;
    font-family: var(--font);
}

.skills .skill{
    text-align: right;
    padding-top: 0px;
    padding-bottom: 0px;
    color: rgb(1, 0, 2, 0.8);
    font-weight: 600;
    font-size: small;
    font-family: var(--font);
    background-color: #76e776;
    border-radius: 3px;
}

.skills p{
    color: #fff;
    font-family: var(--font);
}

.skills .c{
    width: 80%;
}

.skills .html{
    width: 95%;
}

.skills .java{
    width: 50%;
}

.contact{
    margin-top: 25%;
    margin-bottom: 30%;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 117px;
}

.contact h2{
    margin-top: 20%;
    margin-right: 50px;
    color: #fff;
    font-family: var(--font);
    font-size: 250%;
}

.contact ul{
    margin-top: 10%;
}

.contact ul li{
    display: inline-block;
    margin-right: 80px;
}